
			<div class="row">
				<main class="col-md-12">
				<section>
						<h2> This is About Page</h2>
						<p> Thank you for visiting! </p>
					</section>

					<section>
						<h3> About Me </h3>
						<p>	This is Subhankar. My program is Business Information Technology at Seneca College. My student ID is <b> 129044228 </b> </p>
					</section>
				</main>
			</div>
