
			<div class="row">
				<main class="col-md-12">
					<section>
						<h2> Welcome! </h2>
						<p> I will be demonstrating HTML5 principles and techniques, as well as routing in Express </p>
						<p> This site consists of 4 static views (Home, About, HTML Demo, Add Student) </p>
                        <p> Please find the relevant links below </p>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/htmlDemo">HTML Demo</a></li>
							<li><a href="/students">All Students</a></li>
							<li><a href="/students/add">Add Student</a></li>
							<li><a href="/students?course=3">Students by Course</a></li>
							<li><a href="/student/2">Single Student By Student Number</a></li>
							<li><a href="/tas">All TAs</a></li>
							<li><a href="/courses">All Courses</a></li>
						</ul>
					</section>
					
					<section>
						<h3> HTML5 </h3>
						<p> This site utilizes HTML5, a markup language used for structuring and presenting content on the World Wide Web </p>
					</section>

				</main>
			</div>
