  <div class="container">
    <div class="row">
      <main class="col-md-12">
        <section>
          <h3>Tables</h3>
          <div class="table-responsive">
            <table class="table">
              <caption><strong>Student Information</strong></caption>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Section</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Subhankar</td>
                  <td>30</td>
                  <td>ZBB</td>
                </tr>
                <tr>
                  <td>Nazmul</td>
                  <td>20</td>
                  <td>ZCC</td>
                </tr>
                <tr>
                  <td>Shonal</td>
                  <td>25</td>
                  <td>ZAA</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive">
            <table class="table">
              <caption><strong>Course Information</strong></caption>
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Country</th>
                  <th>Intake</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>WEB700</td>
                  <td>India</td>
                  <td>Winter 2023</td>
                </tr>
                <tr>
                  <td>DBS710</td>
                  <td>Bangladesh</td>
                  <td>Winter 2023</td>
                </tr>
                <tr>
                  <td>OSM720</td>
                  <td>Sri Lanka</td>
                  <td>Winter 2023</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section>
          <h3>Images</h3>
          <div class="row">
            <div class="col-md-4">
              <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Image 1">
            </div>
            <div class="col-md-4">
              <img src="https://seneca-my.sharepoint.com/:i:/g/personal/sdey10_myseneca_ca/EQMKcJIAh5VOhby2g2EB47QBzt2tjaB3IAYkBQvPi-HNkA?e=toWNeZ" alt="Image 2">
            </div>
            <div class="col-md-4">
              <iframe src="https://seneca-my.sharepoint.com/personal/sdey10_myseneca_ca/_layouts/15/embed.aspx?UniqueId=9de37d8c-b712-46ba-894a-93e5a2e3c90b" width="500" height="360" alt="Image 3"> </iframe>
            </div>
          </div>
        </section>

        <section>
          <h3>Audio</h3>
          <audio controls>
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.mp3" type="audio/mpeg">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.ogg" type="audio/ogg">
            Your browser does not support the audio element.
          </audio>
          <p> This section consists of a HTML5 audio player </p>
        </section>

        <section>
          <h3>Video</h3>
          <div class="embed-responsive embed-responsive-16by9">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.mp4" type="video/mp4">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.ogg" type="video/ogg">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.webm" type="video/webm">
          </div>
          <p> This section consists of a HTML5 video player </p>
        </section>
      </main>
    </div>
  </div>

  <<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>
